{% extends '../layouts/layout.twig' %}

{% block content %}
  <div class="page-title">Main Page</div>
  <div class="cards-main">
    {% for article in articles|slice(0, 1) %}
      {% include '../blocks/card.twig' with { 
        title: article.title, 
        description: article.description,
        type: article.type,
        img: article.img,
        author: article.author,
        link: article.link,
        } only %}
    {% endfor %}

    {% for blog in blogs|slice(2, 1) %}
      {% include '../blocks/card.twig' with { 
        title: blog.title, 
        description: blog.description,
        type: blog.type,
        img: blog.img,
        author: blog.author,
        link: blog.link,
        } only %}
    {% endfor %}
  </div>
{% endblock %}
