<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Document</title>
</head>
<body>
{% set a = 'Tudor' %}
    <div class="main-container">
        <div>{{a}}</div>
        <div>Center</div>
        <div>Right Side</div>
     </div>
</body>
</html>